/* DLAZDICE NA UVODNEJ STRANE */

#frontPageTiles-box {
    text-align: center;
    padding: 5px 0;
}

.articleTile-box {
    display: inline-block;
    min-height: 194px;
    float: left;
    text-align: center;
    width: 100%;
    border: solid 1px #252525;
    background-color: #fbfbfb;
    padding-bottom: 10px;
    margin: 10px;
}

.articleTile-box:hover {
    border-color: #435fd7;
}

.articleTile-box-heading {
    font-size: 75%;
    text-align: center;
    margin: 5px 5px 10px 5px;
}

.articleTile-box-title {
    font-size: 160%;
    text-align: center;
    font-weight: bold;
    padding: 0 5px;
}

/* DESKTOPS */

@media screen and (min-width: 780px) {

    #frontPageTiles-box {
        text-align: center;
        width: 70%;
        float: left;
        padding: 5px 0;
    }

    .articleTile-box {
        max-width: 280px;
    }

    .articleTile-box-heading {
        text-align: left;
    }

}