html {
        background-color: white;
}

body {
        background-color: rgb(243, 243, 243);
        font-family: sans-serif;
        font-size: 14px;
        padding: 0 5px;
        margin: 0 auto;
}

.category {
        font-size: 85%;
        font-style: oblique;
}

h1 {
        text-align: center;
        color: #444444;
        font-size: 25px;
}

a {
        text-decoration: none;
}

.blue-letter {
        color: #bbc3ff;
        font-size: 155%;
}

#avatar {
        width: 100px;
        height: auto;
}

#commentAvatar {
        max-width: 48px;
        height: auto;
}

.article-box {
        background: rgba(98, 125, 255, 0.15);
        border-top: solid 2px rgba(128, 128, 128, 0.55);
        padding: 5px 2px 5px 2px;
}

.article-heading {
        font-size: 85%;
        text-align: left;
}

.thumbnail-box {
        width: 120px;
        height: 120px;
        float: left;
        white-space: nowrap;
        text-align: center;
        margin: 1em 0;
}

.box-center {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
}

.article-box .article {
        min-height: 120px;
}

#articleThumb {
        vertical-align: middle;
        max-height: 120px;
        max-width: 120px;
}

article p {
        line-height: 1.35;
        color: #444444;
}

aside {
        background-color: rgb(243, 243, 243);
        border-left: 0;
        border-top: solid #444444 1px;
        margin: 10px 0;
}

footer {
        border-top: solid 3px #444444;
        font-size: 11px;
        text-align: center;
        padding-top: 20px;
}

input[type="submit"] {
        display: block;
        font-weight: bold;
        background: black;
        color: white;
        padding: 10px 25px;
        margin: 20px auto 0 auto;
        border-radius: 5px;
        border: none;
}

input[type="submit"]:hover {
        background: #0F0D32;
        color: #EEEEEE;
        cursor: pointer;
}

input[type="text"], input[type="email"], input[type="password"] {
        width: 250px;
        border-radius: 5px;
        border: 1px solid #aaaaaa;
        padding: 0.3em;
}

textarea {
        border-radius: 5px;
        border: 1px solid #aaaaaa;
        width: 483px;
        height: 90px;
}

.clear {
        clear: both;
}

.comment-block {
        display: block;
        background-color: rgb(243, 243, 243);
        border-top: solid 2px rgba(128, 128, 128, 0.55);
        padding: 5px 2px 5px 2px;
}

.comment-block .user {
        display: block;
        text-align: center;
        width: 20%;
        float: left;
}

.comment-block .comment {
        display: block;
        width: 80%;
        min-height: 83px;
        float: right;
}

.comment-block .comment-date {
        text-align: right;
        font-size: 80%;
        font-style: italic;
}

.warning {
        background: #f8f8f8;
        color: #ff6a6a;
        border: solid 2px #ff6a6a;
        font-weight: bold;
        line-height: 25px;
        padding: 5px;
}

.success {
        background: #f8f8f8;
        color: limegreen;
        border: solid 2px limegreen;
        font-weight: bold;
        line-height: 25px;
        padding: 5px;
}

.info {
        background: #f8f8f8;
        color: #435fd7;
        border: solid 2px #435fd7;
        font-weight: bold;
        line-height: 25px;
        padding: 5px;
}

/*For desktops*/
@media screen and (min-width: 780px) {

        body {
                width: 100%;
                max-width: 900px;
                padding: 0;
        }

        aside {
                width: 25%;
                margin-left: 3%;
                float: right;
                background-color: rgb(243, 243, 243);
                border-top: 0;
                border-left: solid #444444 1px;
                padding: 0 7px;
        }

        article {
                width: 70%;
                float: left;
                padding: 10px 0;
        }

        #article-box {
                padding: 15px 5px;
        }

        footer {
                clear: both;
                margin-top: 20px;
        }
}